* {
    padding: 0;
    margin: 0;
}

body {
    background: #343434;
    color: #ffffff;
}

.image-carousel {
    width: 1000px;
    height: 400px;
}

.home-row {
    background: #141414;
}

.home-h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #cb0000;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 50px;
}

.top-game {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}

.game-img {
    width: 500px;
    height: 400px;
}

.h-top {
    margin-bottom: 10px;
    
}

.carousel {
    width: 80%;
    margin-left: 10%;
}

.game-name {
    margin-bottom: 20px;
    margin-left: 30%;
    border: 2px #d4d4d4 solid;
    width: 40%;
    border-radius: 5px;
    padding-bottom: 10px;
    color: #cb0000;
    box-shadow: 6px 6px 50px 1px rgba(117, 117, 117, 0.95);
}

.h-year {
    display: inline;
    color: #cb0000;
}

.flecha-abajo {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 20px;
    height: 15px;
}

.flecha-arriba {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 20px;
    height: 15px;
    transform: rotate(180deg);
}

.top-games-hidden {
    display: none;
}

.row-2020, .row-2018 {
    background: #141414;
}

.row-2021, .row-2019, .row-2017 {
    background: #343434;
}